body {
    background: url(../pattern/congruent_pentagon.png);
}

.title_box {
    background: #007AFF;
}

.title_box > h1 {
    color: #fff;
}

.img_container {
    padding: 0px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.random_number_block {
    background: #4CD964;
}

.wins_block {
    background: #4CD964;
}

.losses_block {
    background: #4CD964;
}

.total_score_container {
    background: #4CD964;
    padding: 0px 15px;
}